html, body{ 
	width: 100%; 
	height: 100%; 
	overflow: hidden; 
	margin: 0; 
	font-family: 'microsoft yahei'; 
	background-image:url(../images/login_bg.jpg); 
}

.login{ 
	width:640px; 
	height:400px; 
	position:absolute; 
	left:50%; 
	top:50%; 
	margin-left:-320px; 
	margin-top:-200px;
}

.logo{
	background: url(../images/admin_logo.png) no-repeat 30px center;
	height:150px;
}
.login_form{ 
	height:80px; 
	width:600px;
	margin:0px auto;
}
.login_form .user{ 
	background-color: #e6eaeb;
	border-radius: 5px;
	width:540px; 
	height:80px; 
	float:left;
}
.login_form .button{ 
	width:50px; 
	height:54px; 
	background: url(../images/login_button.jpg) no-repeat left center;
	float:left; 
	display:block; 
	text-indent: -9999px; 
	border:none; 
	margin-top:10px; 
	position:relative;

}
.login_form .button:hover{
	cursor: pointer;
}
.login_form .text_value{ 
	float:left; 
	margin: 15px 0 0 17px;
	padding: 0 10px;
	width:225px; 
	height:50px; 
	line-height:50px; 
	font-size:16px; 
	color:#666; 
	font-weight:bold; 
	border:none; 
	background-color:#f5f6f7
}
#tip{ 
	padding-top:10px; 
	color:#FFF;   
	background-image:none; 
	text-align:center; 
	padding-right:80px; 
	font-size:14px;
}